--extra-index-url https://download.pytorch.org/whl/cu116

numpy==1.24.3
torch==1.13.1
torchvision==0.14.1
matplotlib==3.7.1
jupyter==1.0.0
Pillow==9.5.0
albumentations==1.3.0
omegaconf==2.3.0
wandb==0.12.16
protobuf==3.20.1

dalle2-pytorch==0.2.38
ruclip==0.0.2
